<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ 'Symfony Live Hacking'|trans }}{% endblock title %}</title>

    {% block meta %}
        <meta charset="UTF-8" />
        <meta name="distribution" content="Global" />
        <meta name="resource-type" content="document" />
        <meta name="revisit-after" content="1 days" />
        <meta name="robots" content="index,follow" />
        <meta name="copyright" content="Copyright (c) {{ 'now'|date('Y') }} Green Hollow Technology LLC" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    {% endblock meta %}

    {% block styles %}
        {% stylesheets filter="cssrewrite" output="css/hacking.css"
            '@HackingBundle/Resources/less/common/*'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets filter='cssrewrite'
            '@fontawesome_css'
            '@multiselect_css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock styles %}

    {% block scripts %}
        {% javascripts
            '@jquery_js'
            '@bootstrap_js'
            '@HackingBundle/Resources/js/*'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock scripts %}

</head>
<body>

    {% block htmlbody %}{% endblock htmlbody %}

</body>
</html>
