@import (reference) "../main.less";

.text-success {
    color: @brand-success;
}
.text-info {
    color: @brand-info;
}
.text-warning {
    color: @brand-warning;
}
.text-danger {
    color: @brand-danger;
}
